<settings>
<servers>
  <server>
    <id>dicklancube-AWS_Java_WebApp_CI_CD</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>dicklancube-AWS_Java_WebApp_CI_CD</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>dicklancube-AWS_Java_WebApp_CI_CD</id>
        <url>https://dicklancube-920492683353.d.codeartifact.us-west-2.amazonaws.com/maven/AWS_Java_WebApp_CI_CD/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<mirrors>
  <mirror>
    <id>dicklancube-AWS_Java_WebApp_CI_CD</id>
    <name>dicklancube-AWS_Java_WebApp_CI_CD</name>
    <url>https://dicklancube-920492683353.d.codeartifact.us-west-2.amazonaws.com/maven/AWS_Java_WebApp_CI_CD/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>
